/*STYLE NAVBAR*/
nav {
  background-color: #1a1919;
  margin: 0 auto;
  padding: 10px 0px;
  margin-right: 0%;
  color: white;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 18px;
  margin-right: 2px;
  text-decoration: none;
  color: white;
  display: block;
}

nav > ul > li > a:hover {
  border-bottom: 2px solid red;
}

button {
  background-color: #ff0000;
  padding: 10px;
  border: none;
}

a.active {
  border-bottom: 2px solid red;
}
mid {
  text-align: center;
}
