*{
  font-family: "Inter", sans-serif;
}



/*STYLE NAVBAR*/
nav {
  background-color: #1a1919;
  margin: 0 auto;
  padding: 10px 0px;
  margin-right: 0%;
  color: white;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 18px;
  margin-right: 2px;
  text-decoration: none;
  color: white;
  display: block;
}

nav > ul > li > a:hover {
  border-bottom: 2px solid red;
}

button {
  background-color: #ff0000;
  padding: 10px;
  border: none;
  cursor:pointer;
}

a.active {
  border-bottom: 2px solid red;
}
mid {
  text-align: center;
}
/* BUYING AND SELLING QUALITY FARM PRODUCE */

.content {
  display: flex;
  background-image:url("Assets/image\ 1.png");
  background-size:contain;
}

#secondbutton {
  padding: 10px;
  color: white;
  background-color: #ed6002;
  border: none;
}

.container2 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  padding: 20px;
  align-content: center;
}



/*  WHY WE EXIST SECTION */
.why {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;
}

img {
  max-width: 60%;
}

/*OUR CATEGORY OF PRODUCTS  */
.category {
  text-align: center;
}

/* NEWEST AND POPULAR ITEM SECTION  */
.popular,
.newsection {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
}

img {
  max-width: 65%;
}

one {
  background-color: black;
}

span {
  border-bottom: 3px solid orangered;
  padding-bottom: 5px;
}

/* EMPTY DIV */
.empty{
  height:30px;
  background-color:lightgray;
  border-top:2px solid gray;
  margin-top: 80px;
  margin-bottom:20px;
  box-shadow: 0px 3px 3px 0px grey;
}

/*ESTEEMED CUTOMERS SECTION  */
.customer , div p{
  font-weight:700;
}

.testimonials{
  display: flex;
  justify-content:space-between;

}

.testimony{
  margin-right:50px
  padding:15px;
}

.test{
  text-align:right;
  margin-right:50px
  margin-left:50px;
}
.testimony{
  box-sizing: content-box-box;
  border-bottom:0.8px solid #404040;
/* /*    margin-right:10px; */
/*    margin-left:10px; */
   width:20%; 
}

.testimony>img{
  max-height:15%;
}

/* LAST SECTION STYLING */
ul {
  list-style: none;
}

.containerf {
  background-color: #1a1919;
  color: white;
  text-align: center;
}

.lastfooter {
  background-color: #1a1919;
  display: flex;
  color: white;
}

.section1 {
  flex-grow: 2;
  margin: 25px;
}

.company {
  flex-grow: 0;
}

.products {
  flex-grow: 0;
}

.others {
  flex-grow: 0;
  margin-left: 25px;
}


